.sticky_header {
    background: #f1f1f1;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 80px;
}
.tablewrapper .MuiContainer-root{
    padding: 0;
}
.MuiTableCell-sizeMedium{
    white-space: nowrap;
}
.ellipse{
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sp_position{
    position:relative;
}
.btn_position{
    display: flex;
    justify-content: right;
    margin-top: 15px;
}
.btnSpdelete{
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 50%;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.export {
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 20px;
}