.flightTitle{
    color: #1a3191;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}
.css-2m9kme-MuiFormControl-root {
    vertical-align: bottom !important;
}