.css-1joxlaw-MuiPaper-root{
    background-color: transparent !important;
}
.css-1umgcu9{
    background: #5656b5;
}
.css-ufuoab-MuiListItemIcon-root,.css-1qqynwt-MuiTypography-root {
    color: #fff;
}
.css-1l0jb83{
    background-color: #fff;
    padding: 10px;
}